<h2>Edit Profile</h2>

<%= form_for @user do |f| %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "name" %>
  </div>

  <div class="field">
    <%= f.text_area :intro, autofocus: true, autocomplete: "intro", class: "form-control", placeholder: "intro" %>
  </div>

  <div class="field">
    <table>
      <tr>
        <td>
          <%= image_tag(@user.avatar.url, width: "200px" ) unless @user.avatar.nil? %>
        </td>
        <td>
          <%= f.file_field :avatar %>
        </td>
      </tr>
    </table>   
  </div>

  <hr>
  <div class="actions">
    <%= f.submit "Submit" , class: "btn btn-default" %>
  </div>
<% end %>
