
<table class="table table-bordered">
  <tr>
    <td colspan="3">
      <h4> <%= @post.title %> </h4>
       <% @post.categories.each do |category|  %>
        <span class="badge badge-secondary"><%= category.name %></span>
      <% end %>
      <button class="btn btn-default">collect</button>
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => "user_profile_icon", :locals => { :user => @post.user }%>
    </td>
    <td colspan="2">
      <%= image_tag @post.image %> <br>
      <%= simple_format(@post.content) %>
      <%= render :partial => "post_buttons", :locals => { :post => @post }%>
    </td>
  </tr>

  <% @replies.each do |reply|  %>
    <% if reply.user == current_user %>
      <%= form_for reply, url: reply_path do |f| %>
       <tr> 
        <td>
          <%= render :partial => "user_profile_icon", :locals => { :user => reply.user }%>
        </td>
        <td>
           <%= f.text_area :content, placeholder: "Content",  class: "form-control" %>
            <%= f.submit "Edit", class: "btn btn-primary" %>
            <%= link_to "Delete" ,reply_path(reply), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-default" %>
        </td>
      </tr>
      <% end %>
    <% else %>
      <tr> 
        <td>
          <%= render :partial => "user_profile_icon", :locals => { :user => reply.user }%>
        </td>
        <td>
          <%= reply.content %>

        </td>
      </tr>
    <% end %>
  <% end %>
</table>


<hr>

<%= form_for [@post,@reply] do |f| %>
  <%= f.text_area :content , class: "form-control", placeholder: "Content" %><br>
  <%= f.submit 'Submit',class: "btn btn-primary", name: nil %>
  <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
<% end %>

<hr>

<p><%= link_to 'Back to index', posts_path , class: "btn btn-default"%></p>