
<table class="table table-bordered">
  <tr>
    <td colspan="3">
      <h4> <%= @post.title %> <% if @post.status=="draft"%> (draft) <%end%></h4>
       <% @post.categories.each do |category|  %>
        <span class="badge badge-secondary"><%= category.name %></span>
      <% end %>
      <% if current_user.collects_posts.include?(@post) %> 
      <button value="<%= @post.id %>" class="collect-btn btn btn-default" style="display: none;" >collect</button>
      <button value="<%= @post.id %>" class="uncollect-btn btn btn-default">uncollect</button>
      <% else %>
      <button value="<%= @post.id %>" class="collect-btn btn btn-default">collect</button>
      <button value="<%= @post.id %>" class="uncollect-btn btn btn-default" style="display: none;">uncollect</button>
      <% end %>

    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => "user_profile_icon", :locals => { :user => @post.user }%>
    </td>
    <td colspan="2">
      <%= image_tag @post.image %> <br>
      <%= simple_format(@post.content) %>
      <%= render :partial => "post_buttons", :locals => { :post => @post }%>
    </td>
  </tr>

  <% @replies.each do |reply|  %>
    <% if reply.user == current_user %>
      <%= form_for reply, url: reply_path do |f| %>
       <tr> 
        <td>
          <%= render :partial => "user_profile_icon", :locals => { :user => reply.user }%>
        </td>
        <td>
           <%= f.text_area :content, placeholder: "Content",  class: "form-control" %>
            <%= f.submit "Edit", class: "btn btn-primary" %>
            <%= link_to "Delete" ,reply_path(reply), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-default" %>
        </td>
      </tr>
      <% end %>
    <% else %>
      <tr> 
        <td>
          <%= render :partial => "user_profile_icon", :locals => { :user => reply.user }%>
        </td>
        <td>
          <%= reply.content %>

        </td>
      </tr>
    <% end %>
  <% end %>
</table>


<hr>

<%= form_for [@post,@reply] do |f| %>
  <%= f.text_area :content , class: "form-control", placeholder: "Content" %><br>
  <%= f.submit 'Submit',class: "btn btn-primary", name: nil %>
  <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
<% end %>

<hr>

<p><%= link_to 'Back to index', posts_path , class: "btn btn-default"%></p>


<script>
<% if current_user %>
   var token = '<%= current_user.authentication_token %>'
<% end %>


$(".collect-btn").on("click", function(event) {
  var id = event.target.value;
  console.log(id);
  $.ajax({
    url: "/api/v1/posts/" + id + "/collect" ,
    method: "POST",
    dataType: "json",
    data: 
    {
      'auth_token' : token
    },
    success: function(data) {
      $(".collect-btn").hide();
      $(".uncollect-btn").show();
    }
  });

});

$(".uncollect-btn").on("click", function(event) {
  var id = event.target.value;
  console.log(id);
  $.ajax({
    url: "/api/v1/posts/" + id + "/uncollect" ,
    method: "POST",
    dataType: "json",
    data: 
    {
      'auth_token' : token
    },
    success: function(data) {
      $(".uncollect-btn").hide();
      $(".collect-btn").show();
    }
  });

});


$(".friend-btn").on("click", function(event) {
  var id = event.target.value;
  console.log(id);
  $.ajax({
    url: "/api/v1/users/" + id + "/friend" ,
    method: "POST",
    dataType: "json",
    data: 
    {
      'auth_token' : token
    },
    success: function(data) {
      $(".friend-"+id).hide();
      $(".waiting-accept-"+id).show();
    }
  });

});
</script>