<!DOCTYPE html>
<html>
  <head>
    <title>DojoForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <%= link_to "Dojo-Forum", root_path, class: "navbar-brand" %>
          </div>

          
          <!-- Collect the nav links, forms, and other content for toggling -->

          <div class="collapse navbar-collapse">

              <ul class="nav navbar-nav">
              <li> <%= link_to "Feeds", feeds_path %></li>
              <li> <%= link_to "All Post", posts_path %></li>
              <li> <%= link_to "New Post", new_post_path %></li>
             </ul>

            
           <ul class="nav navbar-nav navbar-right">
          
            <% if current_user %>
                <li><a> <%= current_user.email %> (<%= current_user.role %>) </a> </li>
                <li><%= link_to( "Profile" , user_path(current_user)) %></li>
                <% if current_user.admin? %>
                  <li><%= link_to('Admin', admin_root_path) %> </li>
                <% end %>
              <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
             
           <% else %>
              <li><%= link_to('Sign Up', new_user_registration_path) %> </li>
              <li><%= link_to('Login', new_user_session_path) %> </li>
           <% end %>
          </ul>
          
          </div><!-- /.navbar-collapse -->


        </div><!-- /.container-fluid -->
      </nav>
    <div class="container">
      <div class="row">

            


    <%= yield %>
  
  </div>

  </body>
</html>
